@import './custom';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './style';

.breadcrumb-item.active {
    font-weight: 600;
    color: black;
}

.breadcrumb-item a {
    text-decoration: none;
    color: gray;

    &:hover {
        color: $primary;
    }
}
